In [1]:
import pandas as pd
import openpyxl
import numpy as np

In [2]:
df=pd.read_excel('Applications_for_Machine_Learning_internship_edited.xlsx')
df.head(2)

,Name,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,"Are you available for 3 months, starting immediately, for a full-time work from home internship?",Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,NaN,1,0,0,1,"MS-Excel, MS-Word, Deep Learning, MySQL, Pytho...","Yes, I am available for 3 months starting imme...",Bachelor of Vocation (B.Voc.),Software Engineering,2021,NaN,6.50/7,NaN,NaN
1,NaN,2,0,0,0,"Git, GitHub, Linux, Adobe After Effects, Adobe...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science & Engineering,2024,NaN,8.90/10,NaN,NaN

In [3]:
df1=df.copy()
df1['Other skills']=df['Other skills'].astype(str)

In [4]:
df2=df1.copy()

In [5]:
#--------------FILTER THE DESIRED SKILLS FROM OTHER SKILLS COLUMN ----------------------------------------

In [6]:
filtered_rows = []
desired_skills = ['Python', 'MS-Excel', 'MS-Word']

for index, row in df2.iterrows():
    skills_list = row['Other skills'].split(', ')
    if all(skill in skills_list for skill in desired_skills):
        filtered_rows.append(row)

df4 = pd.DataFrame(filtered_rows)

In [7]:
df4.head(1)

,Name,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,"Are you available for 3 months, starting immediately, for a full-time work from home internship?",Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,NaN,1,0,0,1,"MS-Excel, MS-Word, Deep Learning, MySQL, Pytho...","Yes, I am available for 3 months starting imme...",Bachelor of Vocation (B.Voc.),Software Engineering,2021,NaN,6.50/7,NaN,NaN

In [8]:
df4.shape

(79, 14)

In [9]:
#===============================                 RENAMING SOME COLUMNS                =============================================
df4.rename(columns={'Python (out of 3)': 'pythonmarks'}, inplace=True)
df4.rename(columns={'Machine Learning (out of 3)': 'MLmarks'}, inplace=True)
df4.rename(columns={'Natural Language Processing (NLP) (out of 3)': 'NLPmarks'}, inplace=True)
df4.rename(columns={'Deep Learning (out of 3)': 'DPmarks'}, inplace=True)

In [10]:
df4.head(1)

,Name,pythonmarks,MLmarks,NLPmarks,DPmarks,Other skills,"Are you available for 3 months, starting immediately, for a full-time work from home internship?",Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,NaN,1,0,0,1,"MS-Excel, MS-Word, Deep Learning, MySQL, Pytho...","Yes, I am available for 3 months starting imme...",Bachelor of Vocation (B.Voc.),Software Engineering,2021,NaN,6.50/7,NaN,NaN

In [11]:
df5=df4.copy()

In [12]:
#===================            DROP THE STUDENTS WHICH DO NOT HAVE GOOD KNOWLEDGE IN PYTHON AND ML            =======================================
df6 = df5.drop(df5[df5['pythonmarks'] == 1].index)
df6 = df5.drop(df5[df5['MLmarks'] == 0].index)

In [13]:
df7=df6.copy()
df7.shape

(59, 14)

In [14]:
#==============================                  DROP STUDENTS WHICH ARE CURRENTLY NOT AVAILABLE      ===================================================

In [15]:
df8 = df7[~df.apply(lambda row: row.astype(str).str.contains('No, ').any(), axis=1)]

C:\Users\A2ZCON~1\AppData\Local\Temp/ipykernel_5028/347328872.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df8 = df7[~df.apply(lambda row: row.astype(str).str.contains('No, ').any(), axis=1)]

In [16]:
df8.shape

(56, 14)

In [17]:
#===========================            CHECKING THE PERFORMANCE IN UG AND PG                   =================================================

In [18]:
df8.Performance_UG.unique()


#NOBODY HAS LESS PERCINTILE SO NEED TO REMOVE

array(['9.80/10', nan, '8.00/10', '8.90/10', '9.00/9', '6.09/10',
       '4.88/10', '75.70/100', '8.10/10', '83.73/100', '85.50/100',
       '6.60/10', '9.00/10', '80.00/100', '79.80/100', '9.60/10',
       '3.60/4', '8.59/10', '7.23/10', '8.64/10', '8.09/10', '8.60/10',
       '9.20/10', '8.45/10', '65.00/100', '7.83/10', '8.11/10', '8.00/8',
       '8.28/10'], dtype=object)

In [19]:
df8.Performance_PG.unique()


# NOBODY HAS LESS PERCINTILE SO NEED TO REMOVE

array([nan, '7.10/10', '88.50/100', '8.16/10', '86.00/100', '7.52/10',
       '8.72/10', '50.06/100', '8.22/10', '8.30/10', '8.25/10',
       '87.00/100', '85.00/100', '8.00/10'], dtype=object)

In [20]:
df8.isnull().sum()

Name                                                                                                 56
pythonmarks                                                                                           0
MLmarks                                                                                               0
NLPmarks                                                                                              0
DPmarks                                                                                               0
Other skills                                                                                          0
Are you available for 3 months, starting immediately, for a full-time work from home internship?      0
Degree                                                                                                4
Stream                                                                                                6
Current Year Of Graduation                                                                            0
Performance_PG                                                                                       43
Performance_UG                                                                                       25
Performance_12                                                                                       26
Performance_10                                                                                       29
dtype: int64

In [21]:
#==================                            DROP THE STUDENTS WITH NULL DEGREE                   =====================================

In [22]:
df8.dropna(subset=['Degree'], inplace=True)

C:\Users\A2ZCON~1\AppData\Local\Temp/ipykernel_5028/2813967617.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df8.dropna(subset=['Degree'], inplace=True)

In [23]:
df9=df8.copy()
df9.shape

(52, 14)

In [24]:
df.shape

(1136, 14)

In [ ]:
#    SO OUT OF 1136 STUDENTS 52 STUDENTS HAVE PASSED THROUGH RESUME   ===============

In [26]:
results=df9.copy()
results.head(2)

,Name,pythonmarks,MLmarks,NLPmarks,DPmarks,Other skills,"Are you available for 3 months, starting immediately, for a full-time work from home internship?",Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
15,NaN,2,2,1,2,"Database Management System (DBMS), English Pro...","Yes, I am available for 3 months starting imme...",Bachelor of Technology (B.Tech),Computer Science & Engineering,2024,NaN,9.80/10,NaN,NaN
75,NaN,2,1,1,1,"Content Writing, English Proficiency (Written)...","Yes, I am available for 3 months starting imme...",Bachelor of Technology (B.Tech),Computer Science & Engineering,2023,NaN,NaN,NaN,NaN